
.signin-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f578b;
  }
  
    
  .signin-card{
    max-width: 400px;
    text-align: center;
  }